#thoughtbox {
    resize: none;
}
.thoughtdiv {
    margin: auto;
    width: 30%;
    border: 3px solid #000000;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: none no-repeat scroll 0 0 #ffffff;
}
.drawingtext {
    text-align: center;
}
#drawingcanvas {
    border: 3px solid #000000;
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
    display: block;
    touch-action:none;
    background: none no-repeat scroll 0 0 #ffffff;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 25px;
    background: #b8c7bb;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.drawingcontainer {
    padding-bottom: 40px;
    margin-left: 10%;  
    width: 100%;
    height: 50%;
    align-items: center;
    border: 3px solid #000000;
    text-align: center;
    background: none no-repeat scroll 0 0 #fff;
    line-height: 100%;
}
body {
    position: relative;
    overflow: auto;
    background-color: #6bff97;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: #000000;
    border-radius:100%;
}
#colorpicker
{
    height:30px;
    width:30px;
}
label {
    text-align: left;
}
.everythingcontainer
{
    display: grid ;
    grid-template-columns: auto auto;
    justify-content: center;
}
.saveButton
{
    border-radius: 3%;
    background-color: #6bff97;
    color:#FFFFFF;
    border:none;
    width:50%;
    height:50%;
    font-size: large;
}

.saveButton:hover {background-color: #3e8e41}

.saveButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}