@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
.thoughtdiv {
    margin: auto;
    width: 800px;
    border: 3px solid #000000;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: none no-repeat scroll 0 0 #fff;
}
.drawingtext {
    text-align: center;
}
#drawingcanvas {
    border: 3px solid #000000;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    background: none no-repeat scroll 0 0 #fff;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 25px;
    background: #cad4cc;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.drawingcontainer {
    margin: auto;
    padding: 70px 0;
    width: 400px;
    align-items: center;
    border: 3px solid #000000;
    text-align: center;
    background: none no-repeat scroll 0 0 #fff;
}
body {
    background-color: #6bff97;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: #000000;
    border-radius:100%;
}
#colorpicker
{
    height:75px;
    width:75px;
}